body{
    background-image: url("ghosts.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
main{
    margin-top: 30px;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px black solid;
    padding: 10px 10px 10px 10px;
    height: 600px;
    width: 610px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 10px;
}

.scroll_main{
    height: auto;
    width: auto;
    background-color: transparent;
    overflow-y: scroll;
}
div{
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: white;
    height: 150px;
    width: 400px;
    justify-content: center;
    align-items:flex-start;
    border-radius: 10px;
}
.main_container{
    display: flex;
    flex-direction: row;
    border: 5px double red;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    height: 160px;
    width: 400px;
    gap: 20px;
    
}

img{
    margin: 5px 5px 5px 5px;
    height: 150px;
    width: 130px;
}
label{
    font-size: larger;
    font-weight: 600;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
#tdspng{
    height: 200px;
    width:600px;
    margin: 5px 5px 5px 5px;
}